* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';

  background-color: #130f1e;
  color: white;

  height: 100vh;
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

section {
  display: grid;
  gap: 68px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
}

p {
  font-family: 'Roboto';
  font-size: 20px;
}

.all-buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.buttons {
  display: grid;
  gap: 32px;
}

.primary {
  --bg-default: #8257e5;
  --bg-hover: #9674e5;
}

.secondary {
  --bg-default: #3c3748;
  --bg-hover: #6a617f;
}

.tertiary {
  --bg-default: transparent;
  --bg-hover: transparent;
}

button {
  background-color: var(--bg-default);
  border: 0;
  padding: 12px 24px;
  border-radius: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button:hover {
  background-color: var(--bg-hover);
}

button:focus {
  outline: 2px solid #d9cdf7;
}

button:disabled {
  background-color: var(--bg-default);
  opacity: 0.56;
  cursor: not-allowed;
}

.loading {
  cursor: progress;
}

.loading i {
  font-size: 16px;
  animation: spin 700ms infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movable {
  cursor: move;
}

.movable i {
  font-size: 18px;
}
